<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet_App_2</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.org.java.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewServlet</display-name>
    <servlet-name>AddNewServlet</servlet-name>
    <servlet-class>com.org.java.controller.AddNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewServlet</servlet-name>
    <url-pattern>/AddNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.org.java.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.org.java.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrudController</display-name>
    <servlet-name>CrudController</servlet-name>
    <servlet-class>com.org.java.controller.CrudController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudController</servlet-name>
    <url-pattern>/CrudController</url-pattern>
  </servlet-mapping>
</web-app>